*{margin: 0;}

html{font-size: 10px;}
body{font-size: 1rem;}
a{text-decoration: none;color: #ffffff;}

header{width: 33.4rem; height: 7.2rem; text-align: center;  margin: auto;}
.logo {padding-top: 2.1rem; display: inline-block;margin-left: 1.8rem;}
.menu {padding-top: 2.7rem; float:right; display: inline-block;}


header > .nav_menu.active{display: flex;}

header > .nav_menu{position: relative; display: none; z-index:9999}
header > .nav_menu > ul{display: inline-block;width: 100%;padding: 0rem 0rem;}
header > .nav_menu > ul > li{list-style:none; text-align:right; background-color: #ffffff; padding: 1.3rem 2.0rem;}
header > .nav_menu > ul > li > a{font-family: 'Noto Sans KR', sans-serif; font-size: 1.1rem; font-weight: 500;letter-spacing: -0.03rem; color: #c7b28b;}


.main {position: relative; height: 66.5rem; text-align: center; background: #c7b28b;}  /* 비쥬 */
.main img {text-align: center; padding-top: 3.9rem;}

#container {width:334px; margin: 0 auto;} /* 컨텐츠 */
#container div {padding-top: 4.5rem;}
#container div > img{display: block; margin:0 auto;}

#link {margin: auto; padding:4.5rem; text-align: center;} /* sns아이콘 */
#link a{display: inline-block; margin-left:20px;}
#link a:first-child{margin-left:0;}

footer{background-color: #c7b28b; height: 4.2rem; text-align: center; font-size:1.0rem; color: #ffffff; padding-top: 2.5rem;}
#footer address {font-style: normal;}


/*--서브 공통--*/
.main_sub {position: relative; height: 27rem; background: #c7b28b; margin-bottom: 4rem;}
.main_sub img {padding-top: 7.9rem; display: block; margin-left: auto; margin-right: auto;}

#container_sub {width:334px; margin: 0 auto;} /* 컨텐츠 */
#container_sub div {padding-bottom: 4rem;}
#container_sub div > img{display: block; margin:0 auto;}
