@charset "utf-8";


*{margin:0; padding:0;} 
body {font-size:12px; font-family:sans-serif;}
ul {list-style:none;} 
img {border:0;}
a {text-decoration:none; color:#000;}


#menubar {width:1024px; margin:0 auto;} /* 메뉴바 */
#header {width:1024px;  height:120px; overflow:hidden; text-align: center; vertical-align: middle;}

.logo {width:250px; height:60px;}
.gnb {width:1024px; height:100px; padding: 0; padding-top: 20px; overflow:hidden; font-family: 'Lato', sans-serif;
font-family: 'Noto Sans KR', sans-serif;}

.gnb li {float:left; width:204px; text-align:center; line-height: 80px; display: inline-block; }
.gnb a {display:block; width:100%; color:#616470; transition:all 0.4s; font-weight:bold; font-size:15px;}
.gnb a:hover {box-sizing:border-box; font-size:17.5px; color:#c7b28b; } /* 링크에 마우스를 올렸을 때*/
.gnb .gnb1 {color:#c7b28b;}

#visual{position: absolute; top:0; left:50%; width: 1024px; margin-left: -512px; text-align: center; z-index: 10;}
.main {position: relative; height: 700px; }
.main:after{content:""; display: block; position: absolute; top:0; left:50%; width:50%; height: 700px; background: #bea377;}

#container {width:1024px; margin: 0 auto;} /* 컨텐츠 */

#link {width:1024px; margin: auto; padding:90px 0; text-align: center;} /* sns아이콘 */
#link a{display: inline-block; margin-left:20px;}
#link a:first-child{margin-left:0;}

#footer {padding:42px 0;text-align: center; color:#FFFFFF; background:#616470} /* 푸터 */
#footer address {font-style: normal;}


/*서부페이지*/
#visual1 {position: absolute; top:0; left:50%; width: 1024px; margin-left: -512px; text-align: center; z-index: 10; padding-top: 183px;}
.main1 {position: relative; height: 600px; background: #c7b28b; margin-bottom: 100PX;}

#container_sub {width:1024px; margin: 0 auto;} /* 컨텐츠 */
#container_sub div {padding-bottom: 100px;}
#container_sub div > img{display: block; margin:0 auto;}


